@charset "utf-8";
/* CSS Document */

a {
color: #34c5ba;
}

p a {
color: #34c5ba;
}

#main-menu {
background: rgba(0,255,255, .60);
}

.color-me {
color: #34c5ba;
}

.awesome {
color: #00ffff;
}

.es-white {
color: #fff;
}

.pack-text-font {
font-family: 'Oswald', sans-serif;
font-size: 25px;
font-style: normal;
text-transform: none;
letter-spacing: 1px;
color: #00ffff;
}

.pack-table-font {
font-family: 'Oswald', sans-serif;
font-size: 20px;
font-style: normal;
text-transform: none;
letter-spacing: 1px;
color: #00ffff;
}
.es-table {
padding: 8px;
line-height: 1.42857143;
vertical-align: middle;
border-top: 1px solid #ddd
}

@-webkit-keyframes glow {
    0% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-moz-keyframes glow {
    0% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-o-keyframes glow {
    0% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@-ms-keyframes glow {
    0% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}
@keyframes glow {
    0% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 5px rgba(0,0,0, .2), inset 0 0 5px rgba(0,0,0, .1); */
    }	
    100% {
		border-color: #34c5ba;
		/* box-shadow: 0 0 20px rgba(0,0,0, .6), inset 0 0 10px rgba(0,0,0, .4); */
    }
}

.submit-button {
color: #fff;
background: #fff;
}

.submit-button::before {
color: #fff;
background: #34c5ba;
}

.submit-button:hover {
color: #000;
background: #fff;
}

.submit-button-2 {
color: #fff;
background: #fff;
}

.submit-button-2::before {
color: #fff;
background: #34c5ba;
}

.submit-button-2:hover {
color: #000;
background: #fff;
}

.owl-page.active span {    
background: #34c5ba;
}

.expand { 
background: #34c5ba;
}

/* Styleswitch [DEMO only] */
.options-head {
background: #34c5ba;
}